name: locale_settings_hive
description: Implementation of locale_settings for platforms which don't support settings per app using hive
version: 1.0.0
repository: https://github.com/svenopdehipt/locale_settings/tree/main/locale_settings_hive

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  hive_ce: ^2.15.1
  locale_settings: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    implements: locale_settings
    platforms:
      windows:
        dartPluginClass: LocaleSettingsHive
      linux:
        dartPluginClass: LocaleSettingsHive
      web:
        pluginClass: LocaleSettingsHiveWeb
        fileName: locale_settings_hive_web.dart