name: locale_settings_preferences
description: Implementation of locale_settings for platforms which don't support settings per app using shared preferences
version: 1.0.1
repository: https://github.com/svenopdehipt/locale_settings/tree/main/locale_settings_preferences

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  locale_settings: ^1.0.0
  shared_preferences: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    implements: locale_settings
    platforms:
      windows:
        dartPluginClass: LocaleSettingsPreferences
      linux:
        dartPluginClass: LocaleSettingsPreferences
      web:
        pluginClass: LocaleSettingsPreferencesWeb
        fileName: locale_settings_preferences_web.dart